default:
  image:
    repository: "ghcr.io/honeycombio/devrel-opentelemetry-demo"
    tag: "latest"
  replicas: 2
components:
  accounting:
    resources:
      limits:
        memory: 150Mi
  load-generator:
    replicas: 2
  frontend:
    replicas: 2
    envOverrides:
      - name: PRODUCT_REVIEWS_ADDR
        value: product-reviews:3551
  postgresql:
    resources:
      limits:
        memory: 150Mi
  frontend-proxy:
    envOverrides:
      - name: ENVOY_ADDR
        value: 0.0.0.0

opentelemetry-collector:
  enabled: false

jaeger:
  enabled: false

prometheus:
  enabled: false

grafana:
  enabled: false

opensearch:
  enabled: false
