default:
  image:
    repository: "ghcr.io/honeycombio/devrel-opentelemetry-demo"
    tag: "latest"
  replicas: 2
components:
  accounting:
    resources:
      limits:
        memory: 150Mi
  load-generator:
    replicas: 2
  frontend:
    replicas: 2
  postgresql:
    resources:
      limits:
        memory: 150Mi

opentelemetry-collector:
  enabled: false

jaeger:
  enabled: false

prometheus:
  enabled: false

grafana:
  enabled: false

opensearch:
  enabled: false
