########################
#
# This is the configuration for the Otel demo deployed to {you}-local, not the main demo.
#
########################
default:
  image:
    pullPolicy: Always
  replicas: 1
  # List of environment variables applied to all components

components:
  load-generator:
    replicas: 0
  frontend:
    replicas: 1
    envOverrides:
      # Needed until the demo helm chart updates to include it.
      - name: PRODUCT_REVIEWS_ADDR
        value: product-reviews:3551
      - name: ENV_PLATFORM
        value: local
  frontend-proxy:
    envOverrides:
      # Needed until the demo helm chart updates to include it.
      - name: ENVOY_ADDR
        value: 0.0.0.0

opentelemetry-collector:
  enabled: true
  mode: daemonset
  image:
    pullPolicy: Always
  service:
    enabled: true
  presets:
    logsCollection:
      enabled: true
      includeCollectorLogs: true
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            cors:
              allowed_origins:
                - "*"
            endpoint: 0.0.0.0:4318
      filelog:
        include:
          - /var/log/pods/${env:NAMESPACE}_*/*/*.log
    processors:
      transform/attribution:
        log_statements:
          - context: resource
            statements:
              - set(attributes["collector.name"], "daemonset-collector")
        metric_statements:
          - context: resource
            statements:
              - set(attributes["collector.name"], "daemonset-collector")
        trace_statements:
          - context: resource
            statements:
              - set(attributes["collector.name"], "daemonset-collector")
      k8sattributes:
        extract:
          annotations:
            - from: pod
              key_regex: (.*)
              tag_name: $$1
          labels:
            - from: pod
              key_regex: (.*)
              tag_name: $$1
      transform/access_log_severity:
        error_mode: ignore
        log_statements:
          - context: log
            conditions:
              - resource.attributes["service.name"] == "access-logs"
              - attributes["http.response.status_code"] != nil
              - IsString(attributes["http.response.status_code"]) == true
            statements:
              - set(cache["status_code"], Int(attributes["http.response.status_code"]))
              - set(severity_number, 17) where cache["status_code"] >= 500
              - set(severity_number, 13) where cache["status_code"] >= 400 and cache["status_code"] < 500
              - set(severity_number, 9) where cache["status_code"] < 400
              - set(severity_text, "ERROR") where cache["status_code"] >= 500
              - set(severity_text, "WARN") where cache["status_code"] >= 400 and cache["status_code"] < 500
              - set(severity_text, "INFO") where cache["status_code"] < 400
              - set(attributes["demo.telemetry.transform.access_log_severity"], "v4")
      transform/filelog_severity:
        error_mode: ignore
        log_statements:
          - context: log
            conditions:
              - attributes["log.severity"] != nil
            statements:
              - set(severity_text, "ERROR") where attributes["log.severity"] == "error"
              - set(severity_number, 17) where attributes["log.severity"] == "error"
              - set(severity_text, "WARN") where attributes["log.severity"] == "warn"
              - set(severity_number, 13) where attributes["log.severity"] == "warn"
              - set(severity_text, "INFO") where attributes["log.severity"] == "info"
              - set(severity_number, 9) where attributes["log.severity"] == "info"
              - set(attributes["collector.transform.filelog_severity"], "v1")
      transform/pino_trace_fields:
        error_mode: ignore
        log_statements:
          - context: log
            conditions:
              - attributes["trace_id"] != nil and attributes["trace.trace_id"] == nil
            statements:
              - set(attributes["trace.trace_id"], attributes["trace_id"])
              - set(attributes["trace.parent_id"], attributes["span_id"])
              - set(attributes["meta.annotation_type"], "span_event")
      transform/service_names:
        error_mode: ignore
        log_statements:
          - context: resource
            statements:
              - set(attributes["service.name"], attributes["app.kubernetes.io/component"]) where attributes["service.name"] == nil and attributes["app.kubernetes.io/component"] != nil
              - set(attributes["service.name"], "api-gateway") where attributes["service.name"] == "frontend"
              - set(attributes["service.name"], "ingress-gateway") where attributes["service.name"] == "frontendproxy"
        metric_statements:
          - context: resource
            statements:
              - set(attributes["service.name"], "api-gateway") where attributes["service.name"] == "frontend"
              - set(attributes["service.name"], "ingress-gateway") where attributes["service.name"] == "frontendproxy"
        trace_statements:
          - context: resource
            statements:
              - set(attributes["service.name"], "api-gateway") where attributes["service.name"] == "frontend"
              - set(attributes["service.name"], "ingress-gateway") where attributes["service.name"] == "frontendproxy"
      transform/parse_json_body:
        error_mode: ignore
        log_statements:
          - context: log
            conditions:
              - body != nil and IsString(body) and HasPrefix(body, "{")
            statements:
              - set(cache, ParseJSON(body))
              - flatten(cache, "")
              - merge_maps(attributes, cache, "upsert")
          - context: log
            statements:
              - set(resource.attributes["service.name"], "api-gateway") where resource.attributes["k8s.container.name"] == "frontend"
      source_map_symbolicator/aws:
        allowed_languages: ["javascript", "webjs"]
        source_map_store: s3_store
        s3_source_maps:
          bucket: ${env:SOURCE_MAPS_BUCKET}
          region: ${env:AWS_REGION}
          prefix: ${env:SOURCE_MAPS_PREFIX}
      source_map_symbolicator/azure:
        allowed_languages: ["javascript", "webjs"]
        source_map_store: azure_store
        azure_source_maps:
          container: ${env:SOURCEMAPS_CONTAINER_NAME}
          prefix: source-maps
          connection_string: ${env:SOURCEMAPS_STORAGE_CONNECTION_STRING}
    exporters:
      debug/detailed:
        verbosity: detailed
      otlp/htp:
        endpoint: ${env:HTP_ENDPOINT}
        tls:
          insecure: true

    service:
      telemetry:
        metrics:
          readers:
            - periodic:
                exporter:
                  otlp:
                    endpoint: https://api.honeycomb.io
                    headers:
                      - name: x-honeycomb-dataset
                        value: otel-collector-metrics
                      - name: x-honeycomb-team
                        value: ${env:HONEYCOMB_API_KEY}
                    protocol: http/protobuf
                    temporality_preference: delta
      pipelines:
        metrics:
          exporters:
            - otlp/htp
          processors:
            - transform/service_names
            - transform/attribution
        logs:
          receivers:
            - otlp
            - filelog
          exporters:
            - otlp/htp
          processors:
            - transform/parse_json_body
            - transform/service_names
            - transform/access_log_severity
            - transform/filelog_severity
            - transform/pino_trace_fields
            - transform/attribution
        traces:
          exporters:
            - otlp/htp
            - spanmetrics
          processors:
            - transform/service_names
            - transform/attribution
            - source_map_symbolicator/${env:CLOUD_PROVIDER}
  ports:
    otlp:
      hostPort: 0
    otlp-http:
      hostPort: 0
    jaeger-compact:
      hostPort: 0
    jaeger-thrift:
      hostPort: 0
    jaeger-grpc:
      hostPort: 0
    zipkin:
      hostPort: 0
