# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: "[DevRel] Build and Publish"

on:
  push:
    tags:
      - '*.*.*-**'
  workflow_dispatch:

permissions:
  packages: write
  contents: read

jobs:
  build_and_push_images:
    uses: ./.github/workflows/component-build-images.yml
    with:
      push: true
      version: ${{ github.ref_name }}
    secrets: inherit

  build_custom_collector:
    uses: ./.github/workflows/build-custom-collector.yaml
    with:
      push: true
      version: ${{ github.ref_name }}
    secrets: inherit

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_images

    permissions:
      contents: read
      id-token: write
    
    env:
      AWS_REGION: eu-west-1

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - uses: pulumi/actions@v6
      - uses: pulumi/auth-actions@v1
        with:
          organization: ${{ secrets.PULUMI_ORG }}
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:${{ github.actor }}
          token-expiration: 600
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
      - run: |
          pulumi stack select --stack ${{ secrets.PULUMI_ORG }}/prod --non-interactive
          pulumi config refresh --non-interactive
        working-directory: deploy

      - run: |
          npm ci
        working-directory: deploy

      - uses: pulumi/actions@v5
        id: pulumi-deploy-azure
        with:
          command: up
          stack-name: ${{ secrets.PULUMI_ORG }}/prod
          work-dir: deploy
          config-map: |
            devrel-opentelemetry-demo:cloud-provider: 
              value: azure
            devrel-opentelemetry-demo:container-tag: 
              value: ${{ github.ref_name }}
              secret: false
            devrel-opentelemetry-demo:collector-container-tag: 
              value: ${{ github.ref_name }}-collector
              secret: false
            devrel-opentelemetry-demo:collector-container-repository: 
              value: ghcr.io/${{ github.repository }}
              secret: false
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_USE_OIDC: true
          IS_IN_PIPELINE: true

      - name: Extract and upload js sourcemaps
        run: ./scripts/extract-and-upload-js-sourcemaps.sh
        env:
          REPO: ghcr.io/${{ github.repository }}
          CONTAINER_PATH: /app/.next/static/
          BLOB_CONTAINER_NAME: ${{ steps.pulumi-deploy-azure.outputs.blobContainerName }}
          STORAGE_ACCOUNT_NAME: ${{ steps.pulumi-deploy-azure.outputs.storageAccountName }}
          VERSION: ${{ github.ref_name }}

      - uses: pulumi/actions@v5
        id: pulumi-deploy-aws
        with:
          command: up
          stack-name: ${{ secrets.PULUMI_ORG }}/prod-aws
          work-dir: deploy
          config-map: |
            devrel-opentelemetry-demo:cloud-provider:
              value: aws
            devrel-opentelemetry-demo:container-tag:
              value: ${{ github.ref_name }}
              secret: false
            devrel-opentelemetry-demo:collector-container-tag:
              value: ${{ github.ref_name }}-collector
              secret: false
            devrel-opentelemetry-demo:collector-container-repository:
              value: ghcr.io/${{ github.repository }}
              secret: false
        env:
          IS_IN_PIPELINE: true
          AWS_REGION: ${{ env.AWS_REGION }}

      - name: Extract and upload js sourcemaps to S3
        run: ./scripts/extract-and-upload-js-sourcemaps-s3.sh
        env:
          REPO: ghcr.io/${{ github.repository }}
          CONTAINER_PATH: /app/.next/static/
          S3_BUCKET: ${{ steps.pulumi-deploy-aws.outputs.s3BucketName }}
          S3_PREFIX: ${{ steps.pulumi-deploy-aws.outputs.s3BucketPrefix }}
          VERSION: ${{ github.ref_name }}
