# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: "[DevRel] Build and Publish"

on:
  push:
    tags:
      - '*.*.*-**'
  workflow_dispatch:
    inputs:
      skip_currency_build:
        description: 'Skip building currency service and re-tag previous version instead'
        type: boolean
        default: true
        required: false

permissions:
  packages: write
  contents: read

jobs:
  build_and_push_images:
    uses: ./.github/workflows/component-build-images.yml
    with:
      push: true
      version: ${{ github.ref_name }}
      skip_currency_build: ${{ inputs.skip_currency_build == null && true || inputs.skip_currency_build }}
    secrets: inherit

  build_custom_collector:
    uses: ./.github/workflows/build-custom-collector.yaml
    with:
      push: true
      version: ${{ github.ref_name }}
    secrets: inherit

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_images

    permissions:
      contents: read
      id-token: write
    
    env:
      AWS_REGION: eu-west-1

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - uses: pulumi/actions@v6
      - uses: pulumi/auth-actions@v1
        with:
          organization: ${{ secrets.PULUMI_ORG }}
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:${{ github.actor }}
          token-expiration: 600
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      - run: |
          npm ci
        working-directory: deploy

      - uses: pulumi/actions@v5
        id: pulumi-deploy-aws
        with:
          command: up
          stack-name: ${{ secrets.PULUMI_ORG }}/prod-aws
          work-dir: deploy
          config-map: |
            devrel-opentelemetry-demo:cloud-provider:
              value: aws
            devrel-opentelemetry-demo:container-tag:
              value: ${{ github.ref_name }}
              secret: false
            devrel-opentelemetry-demo:collector-container-tag:
              value: ${{ github.ref_name }}-collector
              secret: false
            devrel-opentelemetry-demo:collector-container-repository:
              value: ghcr.io/${{ github.repository }}
              secret: false
        env:
          IS_IN_PIPELINE: true
          AWS_REGION: ${{ env.AWS_REGION }}

      - name: Extract and upload js sourcemaps to S3
        run: ./scripts/extract-and-upload-js-sourcemaps-s3.sh
        env:
          REPO: ghcr.io/${{ github.repository }}
          CONTAINER_PATH: /app/.next/static/
          S3_BUCKET: ${{ steps.pulumi-deploy-aws.outputs.s3BucketName }}
          S3_PREFIX: source-maps
          VERSION: ${{ github.ref_name }}
